infra/modules/web/service.wsdl

<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:tns="http://tempuri.org/"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsa10="http://www.w3.org/2005/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    name="BankService"
    targetNamespace="http://tempuri.org/">

  <wsp:Policy wsu:Id="BasicHttpsBinding_IBankService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://soap-api-beaxsegxu6fsi.azurewebsites.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="https://soap-api-beaxsegxu6fsi.azurewebsites.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="https://soap-api-beaxsegxu6fsi.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="IBankService_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance"/>
  </wsdl:message>
  <wsdl:message name="IBankService_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="IBankService_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit"/>
  </wsdl:message>
  <wsdl:message name="IBankService_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse"/>
  </wsdl:message>
  <wsdl:message name="IBankService_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw"/>
  </wsdl:message>
  <wsdl:message name="IBankService_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse"/>
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfo"/>
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse"/>
  </wsdl:message>

  <wsdl:portType name="IBankService">
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetBalance" message="tns:IBankService_GetBalance_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetBalanceResponse" message="tns:IBankService_GetBalance_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/Deposit" message="tns:IBankService_Deposit_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/DepositResponse" message="tns:IBankService_Deposit_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/Withdraw" message="tns:IBankService_Withdraw_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/WithdrawResponse" message="tns:IBankService_Withdraw_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetAccountInfo" message="tns:IBankService_GetAccountInfo_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetAccountInfoResponse" message="tns:IBankService_GetAccountInfo_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="BasicHttpBinding_IBankService" type="tns:IBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetBalance" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/IBankService/Deposit" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IBankService/Withdraw" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetAccountInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="BasicHttpsBinding_IBankService" type="tns:IBankService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IBankService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetBalance" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/IBankService/Deposit" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IBankService/Withdraw" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IBankService/GetAccountInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="BankService">
    <wsdl:port name="BasicHttpsBinding_IBankService" binding="tns:BasicHttpsBinding_IBankService">
      <soap:address location="https://{{domain_name}}/Service.svc"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>